.container {
    width: 1320px;
    height: 600px;
    background-color: #eaeaea;
    padding: 10px;
    padding-bottom: 30px;
}

.top-nav {
    height: 150px;
    width: 1320px;
    background-color: #ffcc00;
    margin-bottom: 10px;
}

.side-nav {
    height: 435px;
    width: 225px;
    background-color: #66ccff;
    margin-left: 1085px;
    margin-top: -455px;
}

.main {
    height: 450px;
    width: 1070px;
    background-color:deeppink;
    margin-bottom: 10px;
}

.sub-content {
    height: 300px;
    width: 340px;
    background-color:mediumblue;
    margin-top: 5px;
    margin-left: 10px;
    display: inline-block;
}

#advertisement {
    height: 120px;
    width: 1030px;
    background-color: #33cc33;
    margin-top: 5px;
    margin-left: 10px;
}

body{
    margin-bottom: 10px;
}